// variables de couleurs personnalisees
$common-green: #01864e;

h2 {
  display: flex;
  justify-content: left;
  margin-left: 1%;
}

 .container {
   display: inline-block;
   justify-content: center;
   align-items: center;
   min-width: 100%;
   width: 100%;
 }

 .search-container {
   background-color: #eff2f5;
   border-radius: 20px;
   width: 90%;
   margin: 2% 5%;
   padding: 5px 0 12px 0;
   align-items: start;
 }

 .search-project {
   display: flex;
   justify-content: center;
 }

 // couleur arriere-plan de la barre de recherche
 .mat-primary  {
  background-color: white;
}

.input-container {
    width: 95%;
    height: 40px;
    --mat-form-field-container-height: 40px;
    --mat-form-field-container-vertical-padding: 8px;
}

.button-container {
   background: $common-green;
   margin-left: 5px;
   cursor: pointer;
}

.search-icon {
   color: white;
}

// style pour mat-table 
.table-container {
   width: 90%;
   margin: 2% 5%;
 }

table {
   width: 100%;
 }

.mat-column-name {
   width: 80%;
}

th {
   font-weight: bold;
   border-bottom: 3px solid $common-green;
 }

th, td {
   font-size: larger;
}

// bordure autour de la boite "Éléments par page" 
::ng-deep mat-paginator .mdc-notched-outline > * {
  border: none !important;
  border-bottom: 1px solid black !important;
}